<!DOCTYPE html>
<ion-view>

  <ion-nav-bar class="bar bar-stable bar-dark">
    <ion-nav-back-button>
    </ion-nav-back-button>

    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear button-light ion-navicon" menu-toggle="left">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content>

      <!--Logo-->
    <!--<div class="row row-center logo-container">
      <div class="col" align="center">
        <img src="/img/logo.png" class="small-logo">
      </div>
    </div>-->


    <div>
      <ion-slide-box on-slide-changed="slideHasChanged($index)" class="slidebox">
        <ion-slide class="slide">
          <img src="img/gallery/slide1.jpg">
        </ion-slide>
        <ion-slide class="slide">
          <img src="img/gallery/slide2.jpg">
        </ion-slide>
        <ion-slide class="slide">
          <img src="img/gallery/slide3.jpg">
        </ion-slide>
      </ion-slide-box>
    </div>


  </ion-content>
</ion-view>
