<!DOCTYPE html>
<ion-view>
  <ion-nav-bar class="bar-stable">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear button-light ion-navicon"
              style="color:white; font-weight: bold; -webkit-text-stroke: 1px grey" menu-toggle="left">MENU
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-slide-box on-slide-changed="slideHasChanged($index)" class="slidebox" scroll="false" does-continue="true">

    <ion-slide ng-repeat="i in [].constructor(15) track by $index" class="slide" style="background: url('img/gallery/slide{{$index+1}}.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;">
    </ion-slide>

  </ion-slide-box>

</ion-view>
