<!DOCTYPE html>
<ion-view>
  <ion-nav-bar class="bar-stable">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear button-light ion-navicon cave-item-menu" style="color:white; font-weight: bold; -webkit-text-stroke: 1px grey" menu-toggle="left">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-slide-box on-slide-changed="slideHasChanged($index)" class="slidebox" scroll="false" does-continue="true">
    <ion-slide class="slide">
      <img src="img/gallery/slide1.jpg" height="100%">
    </ion-slide>
    <ion-slide class="slide">
      <img src="img/gallery/slide2.jpg" height="100%">
    </ion-slide>
    <ion-slide class="slide">
      <img src="img/gallery/slide3.jpg" height="100%">
    </ion-slide>
  </ion-slide-box>
</ion-view>
