<!DOCTYPE html>
<ion-view class="background">
  <ion-nav-bar class="bar-stable">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear button-light ion-navicon cave-item-menu"
              style="color:white; font-weight: bold;" menu-toggle="left">
        MENU
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content class="cave-flex" has-bouncing="false">

    <!--Card containing the Map-->
    <div class="cave-item-card">
      <div class="card map">
        <div class="item item-avatar">
          <img src="img/logo.png">

          <h2>{{currentLanguage.caveMapTitle}}</h2>

          <p>{{currentLanguage.caveMapInfo}}</p>
        </div>

        <div id="spot1" class="spot" ng-click="displayMedia(1)">1</div>
        <div id="spot2" class="spot" ng-click="displayMedia(2)">2</div>
        <div id="spot3" class="spot">3</div>
        <div id="spot4" class="spot">4</div>
        <div id="spot5" class="spot">5</div>

        <!--MAP-->
        <div class="item item-image">
          <img src="img/map.png">
        </div>
        <ion-audio-track track="myTrack"></ion-audio-track>
        <ion-audio-progress-bar display-time></ion-audio-progress-bar>
      </div>
      <!--card containing the Point Description-->
      <div class="card">
        {{currentLanguage.points[point].description}}
      </div>
    </div>
  </ion-content>
</ion-view>
