<!DOCTYPE html>
<ion-view class="background">
  <ion-nav-bar class="bar-stable">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear button-light ion-navicon cave-item-menu"
              style="color:white; font-weight: bold;" menu-toggle="left">
        MENU
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content has-bouncing="false">
    <!--Card containing the Map-->
    <div class="card">
      <div class="item item-avatar">
        <img src="img/logo.png">

        <h2>{{currentLanguage.caveMapTitle}}</h2>

        <p>{{currentLanguage.caveMapInfo}}</p>
      </div>
      <div class="item item-text row row-center" align="center">
        <div class="spot col" ng-class="{'spotActive': data.index === $index}"
             ng-click="stopAll($index); data.index = $index;"
             ng-repeat="spot in currentLanguage.points">{{$index + 1}}
        </div>
      </div>
      <div class="item item-text">
        <div class="row row-center" align="center">
          <button class="button button-large button-clear button-dark icon ion-ios-skipbackward col"
                  ng-click="playPrevious()">
          </button>
          <button class="button button-large button-clear button-dark icon col"
                  ng-class="{'ion-play': !currentLanguage.points[data.index].playing, 'ion-pause': currentLanguage.points[data.index].playing}"
                  ng-click="playSound()">
          </button>
          <button class="button button-large button-clear button-dark icon ion-ios-skipforward col"
                  ng-click="playNext()">
          </button>
        </div>
      </div>
      <div class="item range range-positive">
        <input type="range" name="volume" ng-model="currentLanguage.points[data.index].progress" min="0"
               max="{{currentLanguage.points[data.index].duration}}" ng-change="playSound(currentLanguage.points[data.index].progress)">
      </div>
    </div>
    <div class="card">
      <div class="item item-text" ng-if="currentLanguage.points[data.index].description">
        {{currentLanguage.points[data.index].description}}
      </div>
      <!--MAP-->
      <div class="item item-image">
        <img src="img/map.png" style="max-width: 500px;">
      </div>
    </div>
  </ion-content>
</ion-view>
