<!DOCTYPE html>
<ion-view class="background">
  <ion-nav-bar class="bar-stable">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear button-light ion-navicon cave-item-menu"
              style="color:white; font-weight: bold;" menu-toggle="left">
        MENU
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content has-bouncing="false" class="has-header has-footer">

    <!--Media Card-->
    <div class="card rounded-corners">
      <div class="item item-thumbnail-left">
        <img src="img/logo.png">
        <div class="card-title" style="font-size: 17pt;">{{currentLanguage.menuItems[0].item2}}</div>
      </div>
      <div class="item item-text row row-center" align="center">
        <div class="spot col" ng-class="{'spotActive': data.index === $index}"
             ng-click="stopAll($index); data.index = $index;"
             ng-repeat="spot in currentLanguage.points">{{$index + 1}}
        </div>
      </div>
      <div class="item item-text">
        <div class="row row-center" align="center">
          <button class="button button-large button-clear button-dark icon ion-ios-skipbackward col"
                  ng-click="playPrevious()">
          </button>
          <button class="button button-large button-clear button-dark icon col"
                  ng-class="{'ion-play': !currentLanguage.points[data.index].playing, 'ion-pause': currentLanguage.points[data.index].playing}"
                  ng-click="playSound()">
          </button>
          <button class="button button-large button-clear button-dark icon ion-ios-skipforward col"
                  ng-click="playNext()">
          </button>
        </div>
      </div>
      <div class="item range range-positive">
        <input type="range" name="volume" ng-model="currentLanguage.points[data.index].progress" min="0"
               max="{{currentLanguage.points[data.index].duration}}" ng-change="playSound(currentLanguage.points[data.index].progress)">
      </div>
    </div>

    <!--Description Card-->
    <div class="card rounded-corners">
      <div class="row row-center">
        <div class="col col-center">
          <button class="button map-button" ng-click="navigateToMap()">{{currentLanguage.menuItems[0].item3}}</button>
        </div>
      </div>
      <p class="description-text">
        {{currentLanguage.points[data.index].description}}
      </p>
      <!--<div class="item item-text" ng-if="currentLanguage.points[data.index].description">
        {{currentLanguage.points[data.index].description}}
      </div>
      <div class="item item-image">
        <img src="img/map.png" style="max-width: 500px;">
      </div>-->
    </div>
  </ion-content>
</ion-view>
