<!DOCTYPE html>
<ion-view class="background">

  <!-- <ion-nav-bar class="bar-stable fully-transparent">
     <ion-nav-back-button>
     </ion-nav-back-button>

     <ion-nav-buttons side="left">
       <button class="button button-icon button-clear button-light ion-navicon" menu-toggle="left">
       </button>
     </ion-nav-buttons>
   </ion-nav-bar>-->

  <ion-content has-bouncing="false" class="languages-flex-container">
    <!--CARD-->
    <div class="card rounded-corners languages-flex-item">
      <div class="item item-avatar">
        <img src="img/logo.png">

        <h2 class="card-title" style="font-size: 4vw">WELCOME TO KASTORIA<br>PLEASE SELECT LANGUAGE</h2>
      </div>
    </div>

    <!--Languages List-->
    <ion-list ng-repeat="item in languages">
      <ion-item class="row row-center languages-item" ng-click="selectLanguage(item.language)">

        <img ng-src="img/flags/{{item.language}}.png">

        <span style="font-size: 5vw">{{item.languageTitle}}</span>

      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
