<!DOCTYPE html>
<div>
  <!--Point Title-->
  <div class="row row-center">
    <!--{{currentLanguage.caveMapTitle}}/{{currentLanguage.points[point].title}}-->
   <!-- <button class="button button-clear button-light icon ion-close">
    </button>-->
  </div>
  <!--Buttons-->
  <div class="row row-center">
    <button class="button button-large button-clear button-dark icon ion-pause">
    </button>
    <button class="button button-large button-clear button-dark icon ion-play">
    </button>
    <button class="button button-large button-clear button-dark icon ion-stop">
    </button>
  </div>
  <!--Seekbar-->
  <div class="row row-center">

    <div class="item range">

    </div>

  </div>

</div>
