<!DOCTYPE html>
<!--Point Title-->
<div class="row row-center">
  <!--{{currentLanguage.caveMapTitle}}/{{currentLanguage.points[point].title}}-->
  <!-- <button class="button button-clear button-light icon ion-close">
   </button>-->
</div>

<!--Buttons-->
<div class="row row-center" align="center">
  <button class="button button-large button-clear button-dark icon ion-ios-skipbackward col" ng-click="playPrevious()">
  </button>
  <button class="button button-large button-clear button-dark icon ion-play col" ng-click="playSound(0)">
  </button>
  <button class="button button-large button-clear button-dark icon ion-ios-skipforward col" ng-click="playNext()">
  </button>
</div>
<!--Seekbar-->
<div class="row row-center">

  <div class="item range">

  </div>

</div>
<div>
  <button
    class="button button-full button-dark icon icon-left ion-close" ng-click="mediaPopup.close()">CLOSE
  </button>
</div>
