<!DOCTYPE html>
<ion-view class="background">

  <ion-nav-bar class="bar-stable transparent">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear button-light ion-navicon" style="color:white; font-weight: bold;" menu-toggle="left">
        MENU
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content data-tap-disabled="true" class="cave-flex">
    <div class="list card cave-item-card">
      <div class="item item-avatar">
        <img src="img/logo.png">
        <h2 class="card-title">{{currentLanguage.mapDescription}}</h2>
      </div>
      <div class="item item-image">

      </div>
    </div>
  </ion-content>
</ion-view>
