<!DOCTYPE html>
<ion-view class="background">

  <ion-nav-bar class="bar-stable transparent">
    <ion-nav-back-button>
    </ion-nav-back-button>

    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear button-light ion-navicon" style="color:white; font-weight: bold;" menu-toggle="left">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content has-bouncing="false" data-tap-disabled="true">

    <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>

  </ion-content>
</ion-view>
